<div class="container" >
    <div class="navBar" >
        <label class="labelQuizz">quizz</label>
        <div class="scoreContainer">
            <label class="scoreQuizz" ><%= leScore%></label>
        </div>
    </div>
    <img class="photoScientist" src="<%= imageSrc %>" >
    <div id="divChoix1"  class="responseProposition">
        <input id="choix1" type="radio" value="1" onclick="checkResponse1()">
        <label class="labelResponse" ><%= lesReponses[0] %></label>
    </div>
    <div id="divChoix2" class="responseProposition">
        <input id="choix2" type="radio" value="2"  onclick="checkResponse2()">
        <label class="labelResponse" ><%= lesReponses[1] %></label>
    </div>
    <div id="divChoix3" class="responseProposition">
        <input id="choix3" type="radio" value="3" onclick="checkResponse3()" >
        <label class="labelResponse" ><%= lesReponses[2] %></label>
    </div>
    <div id="divChoix4" class="responseProposition">
        <input id="choix4" type="radio" value="4" onclick="checkResponse4()" >
        <label class="labelResponse" ><%= lesReponses[3] %></label>
    </div>
    <div class="myTime">
        <label style="margin-top:6px">1:00</label>
    </div>
    <input id="valueResp"  type="hidden" value="<%= idVraiReponse%>">
    <input id="scoreActuel"  type="hidden" value="<%= leScore%>">
    <input id="idquizz"  type="hidden" value="<%= lIdDuQuizz%>">

</div>
<script>

    function goToControllerOnGoodResponse(){
      let score = document.getElementById("scoreActuel").value;
      score++;
      const idquizz = document.getElementById("idquizz").value;
      urlToRequest = "/mycontroller/" + score + "/" + idquizz ;
      window.location.replace(urlToRequest);

    }

    function goToControllerOnBadResponse(){
      let score = document.getElementById("scoreActuel").value;
      const idquizz = document.getElementById("idquizz").value;
      urlToRequest = "/mycontroller/" + score + "/" + idquizz ;
      window.location.replace(urlToRequest);
    }

    function checkResponse1(){

      const myRepId = document.getElementById("valueResp").value;
      const idFromRadioButton = event.target.value;

       console.log(myRepId);
       console.log(idFromRadioButton);

      if(myRepId == idFromRadioButton){
        document.getElementById("divChoix1").setAttribute("class","goodResponse");
        setTimeout("goToControllerOnGoodResponse()" ,2000);
      }
      if(myRepId != idFromRadioButton){
        document.getElementById("divChoix1").setAttribute("class","falseResponse");
        setTimeout("goToControllerOnBadResponse()" , 2000);
      }

    }

    function checkResponse2(){

      const myRepId = document.getElementById("valueResp").value;
      const idFromRadioButton = event.target.value;

      console.log(myRepId);
      console.log(idFromRadioButton);

      if(myRepId == idFromRadioButton){
        document.getElementById("divChoix2").setAttribute("class","goodResponse");
        setTimeout("goToControllerOnGoodResponse()" ,2000);
      }
      if(myRepId != idFromRadioButton){
        document.getElementById("divChoix2").setAttribute("class","falseResponse");
        setTimeout("goToControllerOnBadResponse()" , 2000);
      }

    }

    function checkResponse3(){

      const myRepId = document.getElementById("valueResp").value;
      const idFromRadioButton = event.target.value;

      console.log(myRepId);
      console.log(idFromRadioButton);

      if(myRepId == idFromRadioButton){
        document.getElementById("divChoix3").setAttribute("class","goodResponse");
        setTimeout("goToControllerOnGoodResponse()" ,2000);
      }
      if(myRepId != idFromRadioButton){
        document.getElementById("divChoix3").setAttribute("class","falseResponse");
        setTimeout("goToControllerOnBadResponse()" , 2000);
      }

    }

    function checkResponse4(){

      const myRepId = document.getElementById("valueResp").value;
      const idFromRadioButton = event.target.value;

      console.log(myRepId);
      console.log(idFromRadioButton);

      if(myRepId == idFromRadioButton){
        document.getElementById("divChoix4").setAttribute("class","goodResponse");
        setTimeout("goToControllerOnGoodResponse()" ,2000);
      }
      if(myRepId != idFromRadioButton){
        document.getElementById("divChoix4").setAttribute("class","falseResponse");
        setTimeout("goToControllerOnBadResponse()" , 2000);
      }

    }
</script>

